html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  box-sizing:content-box;
}

a {
  color: #555;
  text-decoration: none;
}



.container {
  width:78%;
  margin: 0 auto;
  /* border: solid black 2px; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid #555 1px;
  border-radius: 1px;
  margin-bottom: 20px;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

header > nav > ul > li{
  padding-left: 1.5vw;
}

li > a {
  text-decoration: none;
  text-transform: uppercase;
}

a[href^="mailto:"] {
  color: #555;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

main > .landingPageBanner {
  width: 50%;
  margin: 0 auto 20vh 5vw;
}


.banner {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1vh 0 5vh;
}

.projectBio img {
  width: 100%;
}

.projectBio > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  border: solid black 2px;
  padding: 35px 0;
}

.projectBio aside {
  display: grid;
  align-items: center;
}